form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

}
#pa1{
   
    background-color: blue;
}
#pa2{
    border: blanchedalmond;
    width: 50px;
    height: 50px;
}
#pa4{
    border-color: aqua;
    margin bottom:20px ;
}
#pa3{
    border-color: blue; outline:0;
    margin-bottom:20px;
}
#pa5{
    border-radius: ;margin bottom: 20px;
}
